<table class="openingtemp">
    <tr>
            <td width="60%"> {{opening.title}} </td>
            <td width="20%">
                {{opening.start}} - {{opening.end}} {{opening.time_commitment}} hrs/week
            </td>
            <td width="20%">
                <a href="#"> View </a>
            </td>
    </tr>
    <tr>
            <td> {{opening.description}} </td>
    </tr>
    <tr style="font-size : 12px">
        <td> 
        <b>Majors:</b>
        {% for major in opening.majors %}
            {{major.name}}, 
        {% endfor %}
        <b>Programming Languages:</b>
        {% for lang in opening.programming_languages %}
             {{lang.name}},
        {% endfor %}
        </td>
    </tr>

</table>