{% extends "base.html" %}


{% block content %}
    {% if form %}
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            
                <p> {{ form.title.label }} </p>
                <p>{{ form.title(class='textinput') }}</p>

                {% for error in form.title.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.description.label }}</p>
                <p>{{ form.description(class='textinput') }}</p>

                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.titleOrDesc.label }}</p>
                <p>{{ form.titleOrDesc(class='textinput') }}</p>

                {% for error in form.titleOrDesc.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.prof.label }}</p>
                <p>{{ form.prof(class='textinput') }}</p>

                {% for error in form.prof.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.major.label }}</p>
                <p>{{ form.major(class='textinput') }}</p>

                {% for error in form.major.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.languages.label }}</p>
                <p>{{ form.languages(class='textinput') }}</p>

                {% for error in form.languages.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                <p>{{ form.search(class='button') }}</p>
        </form>

    {% endif %}

    <h1> Filtered Openings: </h1>

    {% for opening in openings %} 
        {% include '_miniopening.html' %}
    {% endfor %}

{% endblock %}